<link type="text/css" rel="stylesheet" href="${pageContext.request.contextPath}/css/program/security/login.css" media="screen,projection"/>  
<script type="text/javascript" src="${pageContext.request.contextPath}/js/controller/loginController.js"></script>

<div layout="column" ng-controller="loginCtrl" ng-cloak>
    <div class="banner">
        <div class="logo2 animated fadeIn low">
            <div class="logo">
                <span>Registro Automatizado de Electores</span>
            </div>
        </div>            
    </div>
    <div class="content">
        <form name="form" action="${pageContext.request.contextPath}/j_spring_security_check" method="post" role="form">
            <div layout="row">
                <div class="block1" layout="row" layout-align="center center" flex="100">
                    <md-content>
                        <md-input-container class="md-icon-float md-block">
                            <label>Ingrese su Usuario</label>
                            <md-icon  md-menu-align-target class="icon-top">
                                <i style="color: #015780;" class="material-icons animated tada">&#xE853;</i>
                            </md-icon>
                            <input required class="inputhide" maxlength="8" name="j_username" type="text" is-number autocomplete="off" focus-me="focusUser" ng-model="user" numbers-only>
                        </md-input-container>   
                        <md-input-container class="md-icon-float md-block">
                            <label>Clave</label>
                            <md-icon  md-menu-align-target class="icon-top">
                                <i style="color: #015780;" class="material-icons animated tada">&#xE0DA;</i>
                            </md-icon>
                            <input required name="j_password" type="password" maxlength="8" ng-maxlength="8" autocomplete="false" ng-model="password" solo-texto-numero-clave>                                
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block" style="padding-left: 2px; margin-left: 0;">
                            <img class="cursor-hand" id="captcha" src="<c:url value='/getcode'/>" onclick="this.src = '<c:url value='/getcode'/>?d=' + new Date() * 1" />                                                        
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block" style="padding-right: 0px; margin-left: 0; ">
                            <label>Ingrese el código</label>
                            <md-icon  md-menu-align-target class="icon-top iconoLoginInput" aria-label="captcha">                                     
                                <i style="color: #015780;" class="material-icons">extension</i>
                            </md-icon>
                            <input type="text" class="form-control control-login" id="txtCaptcha" solo-texto-numero-clave style="float:none;text-align:center;" name="j_captcha" ng-model="captcha" autocomplete="off" maxlength="5" required/>                            
                            <div class="hint-input" ></div>
                        </md-input-container>
                        <c:choose>
                            <c:when test="${SPRING_SECURITY_LAST_EXCEPTION.message == 'Bad credentials'}">
                                <font color="red">Usuario y/o Clave incorrecta</font>
                                <c:remove var = "SPRING_SECURITY_LAST_EXCEPTION" scope = "session" />
                            </c:when>    
                            <c:otherwise>
                                <font color="red">
                                <c:out value="${SPRING_SECURITY_LAST_EXCEPTION.message}"/>
                                </font>
                                <c:remove var = "SPRING_SECURITY_LAST_EXCEPTION" scope = "session" />
                            </c:otherwise>
                        </c:choose>  
                        <div class="block3" layout="row" layout-align="center center" flex="100">
                            <md-button ng-if="form.$invalid" style="background-color: #015780;color: #fff;" ng-disabled="form.$invalid || vm.dataLoading" type="submit" ng-click="focusUsers()" class="md-raised button-login"  >
                                INICIAR SESIÓN
                            </md-button>
                            <md-button ng-if="!form.$invalid" style="background-color: #12a537;color: #fff;" ng-disabled="form.$invalid || vm.dataLoading" type="submit" ng-click="focusUsers()" class="md-raised button-login"  >
                                INICIAR SESIÓN
                            </md-button>                        
                        </div>
                    </md-content>
                </div>                                                                            
            </div>                
        </form>

        <div class="footer-login animated fadeInLeft low"></div>            
    </div> 
</div>        
