<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
		</staticContent>
        <rewrite>
            <rules>
				<rule name="Ignore" enabled="true" stopProcessing="true">
				   <match url="^(fonts|js|images|css|bundles|pdf|archivos|croquis|woff|ico).*"/>
				   <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
				   <action type="None"/>
				</rule>
				<rule name="rule 1w">
					<match url="."  />
					<action type="Rewrite" url="index.php"  />
				</rule>
			</rules>
        </rewrite>
    </system.webServer>
</configuration>

